@charset "utf-8";
/* ----------------
	公共样式开始
----------------- */
/*长页面滚轮*/
html,body,
.swiper-container,
.swiper-slide,
.swiper-wrapper {
	width: 100%;
	height: 100%;
}
.page-L {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.page-L::-webkit-scrollbar {
	display: none;
}
.fl{float: left;}
.fr{float: right;}
img{display: block;margin: 0 auto;}
/*中间内容*/
.main{
	box-sizing: border-box;
	min-height: 95%;
	padding-bottom: 0;
	/*此处 padding-bottom 大小要和底部footer等高*/
}
.main .top{
	padding: 0.5rem 1.25rem 0;
}
.main .top .logo{
	width: 2.9875rem;
}
.main .info{
	min-height: 7.2rem;
	padding: 0.2rem;
	margin: 0.4rem;
	background-color: rgba(219,219,219,.78);
}
.main .info .title{
	text-align: center;
	font-size: 0.2875rem;
	color: #333333;
	margin-bottom: 0.875rem;
}
.main .enter{
	margin-top: 1.05rem;
}
.main .enter img{
	width: 2.6625rem;
}
/*尾部*/
#s1 .footer{
	position: absolute;
	bottom: 0;
}
.footer{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 0.15rem;
	/* height: 2.875rem;
	margin-top: 8.125rem;
	line-height: 2.175rem; */
}
.footer img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3125rem;
	width: 0.35rem;
}
/* ----------------
	公共样式结束
----------------- */
/* ----------------
	各页面背景图
----------------- */
#s1,#s2,#s3,#s4,#s5{
	background: url(../images/mainBg.jpg) no-repeat top center/100% 100%;
}
/* ----------------
	各页面背景图
----------------- */
/* ----------------
	引导页s1开始
----------------- */
#s1 .top{
	padding: 1rem 1.25rem 0;
}
#s1 .top .logo{
	width: 3.0875rem;
} 
#s1 .comname{
	text-align: center;
	color: #fff;
	font-size: 0.725rem;
	font-weight: bold;
	line-height: 2.35rem;
}
#s1 .welcome img{
	width: 4.25625rem;
}
#s1 .slogan img{
	width: 4.1875rem;
	margin: 0.4625rem auto;
}
#s1 .enter0 img{
	width: 11.5625rem;
	margin: 5.3125rem auto 1.5rem;
}
/* ----------------
	引导页s1结束
----------------- */
/* ----------------
	公司简介s2开始
----------------- */
.about{

}
/* ----------------
	公司简介s2结束
----------------- */
/* ----------------
	公司文化s3开始
----------------- */
.culture{

}
/* ----------------
	公司文化s3结束
----------------- */
/* ----------------
	职位列表s4开始
----------------- */
.job{

}
/* ----------------
	职位列表s4结束
----------------- */
/* ----------------
	联系我们s5开始
----------------- */
.contact{

}
/* ----------------
	联系我们s5结束
----------------- */